.bookings-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 30rem;
  max-width: 80%;
}

.bookings-list__item {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid rgb(29, 40, 53);
  display: flex;
  justify-content: center;
  align-content: center;
}

.bookings-list_actions {
  margin: 0;
}
